@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Ultra&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans&family=Ultra&display=swap');
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
  ;

}
* {
	margin: 0%;
	padding: 0%;
}

header {
	text-align:right;
	margin: 0%;
	display:flex;
	justify-content: space-between;
}


#bodySite {
		justify-content: space-evenly;
}

.Card{
	border: 4mm ridge rgba(211, 220, 50, .6);
}